<%= form_with model:[@user, @roadmap],method: :post, url: yield(:url), local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
    <%= f.label :タイトル %>
    <%= f.text_area :title, autocomplete: 'off', class: 'form-control mb-3' %>
  
    <%= f.label :目的 %>
    <%= f.text_area :purpose, autocomplete: 'off', class: 'form-control mb-3' %>

    <%= f.label :目標 %>
    <%= f.text_area :target, autocomplete: 'off', class: 'form-control mb-3' %>

    <span class="picture">
    <%= f.file_field :picture, accept: 'picture/jpeg,picture/gif,picture/png' %>
    </span>

    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>