<% provide(:title, 'あなたのロードマップ') %>
  <div class="container share-container">
  
    <%= render 'shared/sns' %>

    <% breadcrumb :roadmaps_all  %>
    <%= breadcrumbs separator: " > " , class: :logo %>
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded shadow-sm">
      <i class="mr-2 fas fa-road fa-2x"></i>
      <div class="h1 mb-0 text-white lh-100">
        <% if current_user?(@user) %>
          ロードマップ (<%= @user.roadmaps.count %>)
        <% else %>
          ロードマップ (<%= @user.roadmaps.count %>)
        <% end %>
      </div>
    </div>
      <% if current_user?(@user) %>
        <div class="roadmap__btn--create d-grid gap-2 d-md-flex justify-content-md-end" >
          <%= link_to "新しいロードマップを作る", new_user_roadmap_path, class: "btn btn-sm btn-primary", data: {"turbolinks" => false} %>
        </div>
      <% end %>
      <% if @user.roadmaps.any? %>
        <div class="row">
          <div class="col-md-12">
              <%= will_paginate @roadmaps %>
            <ol class="microposts">
              <%= render @roadmaps %>
            </ol>
              <%= will_paginate @roadmaps %>
          </div>
        </div>
      <% end %>

      <%= render 'shared/sns' %>

  </div>