<div class="container-fluid">
  <div class="center jumbotron jumbotron-extend">
    <h1>独学を、集合知に。</h1>
      <p>独学ステップ共有コミュニティ「Growthmap」にようこそ。</p>
    <div class="home__btn--create" >
      <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-primary w-50" %>
    </div>
    <div class="home__btn--login" >
      <%= link_to "ログイン", login_path, class: "btn btn-lg btn-secondary w-50" %>
    </div>
  </div>

<div class="container-fluid">
  <div class="row col-md-12 justify-content-center ">
    <div class="col-md-4 img-hidden container-top-end">
    </div>
    <div class="col-md-4 box-top-discription">
      <p>
        Growthmapは、「独学を集合知に」するために、独学のロードマップを記録し、記録を通じて継続と他者への学びのシェアを行い合うコミュニティです。独学を支え合いましょう。
      </p>
    </div>
  </div>
</div>

<div class="row col-md-12">
  <div class="col-md-4 box-top-discription text-center"">
  <%= image_tag "Business decisions-amico.svg", alt: "growthmap_how_to_learn", class: "img-fluid mb-3" %>
    <p>
      独学では、自分がふれるべき「本・教材・ノウハウ・音声・スクール・実践」などがわかりません。自分に合った情報がわからない状態で、試行錯誤していき、自分の独学の成功を探します。
    </p>
  </div>
  <div class="col-md-4 box-top-discription text-center"">
  <%= image_tag "Goal-rafiki.svg", alt: "growthmap_roadmap", class: "img-fluid mb-3" %>
    <p>
      独学の目的・状況の近しい人から、独学のステップ・ノウハウを学べたら、もっと効果的な学習法が見つかります。
    </p>
  </div>
  <div class="col-md-4 box-top-discription text-center">
    <%= image_tag "Social Growth-rafiki.svg", alt: "growthmap_communication", class: "img-fluid mb-3" %>
    <p>
    Growthmapでは、独学者同士の記録の蓄積を通じて、お互いの独学が参考になっていきます。先人の独学者を適切にたたえ、次の独学者の指標の蓄積に繋げていきましょう。
    </p>
  </div>
  <div class="row col-md-12 justify-content-center m-2 mb-5 ">
    <%= image_tag "growthmap_summary.gif", alt: "growthmap_summary", class: "img-fluid mb-3" %>
  </div>
  <div class="row col-md-12 justify-content-center m-2 mb-5 ">
    <%= link_to "独学のロードマップを見る", roadmaps_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>

</div>
</div>

<div class="container-fluid">
  <div class="row offset-md-2">
    <div class="col-md-4 img-hidden container-top-end">
    </div>
    <div class="col-md-4 home__btn--end">
      <div class="home__btn--end">
        <%= link_to "アカウント作成", signup_path, class: "btn btn-lg btn-primary w-50" %>
      </div>
      <div class="home__btn--end">
        <%= link_to "ログイン", login_path, class: "btn btn-lg btn-secondary w-50" %>
      </div>
    </div>
  </div>
</div>