<% provide(:title, "Log in") %>
  <div class="container share-container">
  <h1>Log in</h1>
    <div class="row">
      <div class="col-md-6 offset-md-3">

      <p>
      <%= button_to '/auth/twitter', class: "btn btn-social btn-twitter form-control-sns" do %>
        <span class="fa fa-twitter"></span> Twitterアカウントでログイン
      <% end %>
      </p>
      <p>
        <%= button_to '/auth/facebook', class: "btn btn-social btn-facebook form-control-sns" do %>
          <span class="fa fa-facebook"></span> Facebookアカウントでログイン
        <% end %>
      </p>
      <p>
        <%= button_to '/auth/google_oauth2', class: "btn btn-social btn-o btn-google form-control-sns" do %>
          <span class="fa fa-google"></span> Googleアカウントでログイン
        <% end %>
      </p>

        <%= form_with scope: :session, url:login_path, local: true do |f| %>

          <p style="color:#f00;">* = 必須</p>

          <%= f.label :email %> <span style="color:#f00;"> * </span>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :password %> <span style="color:#f00;"> * </span>
          <%= link_to "(パスワードを忘れた場合)", new_password_reset_path %>
          <%= f.password_field :password, class: 'form-control' %>

          <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>オートログインを有効化する</span>
          <% end %>

          <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>
        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
      </div>
    </div>
</div>