<p>
  <%= button_to '/auth/twitter', class: "btn btn-social btn-twitter form-control-sns" do %>
    <span class="fa fa-twitter"></span> Twitterアカウントでログイン
  <% end %>
</p>
<p>
  <%= button_to '/auth/facebook', class: "btn btn-social btn-facebook form-control-sns" do %>
    <span class="fa fa-facebook"></span> Facebookアカウントでログイン
  <% end %>
</p>
<p>
  <%= button_to '/auth/google_oauth2', class: "btn btn-social btn-o btn-google form-control-sns" do %>
    <span class="fa fa-google"></span> Googleアカウントでログイン
  <% end %>
</p>

<%= form_with model: @user, url: yield(:url), local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
  
    <%= f.label :ユーザー名 %>
    <%= f.text_field :name, class: 'form-control' %>
  
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :パスワード %>
    <%= f.password_field :password, class: 'form-control' %>
  
    <%= f.label :パスワード（確認用） %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>