<div class="my-3 p-3 bg-white rounded shadow-sm">
  <p class="mt-3 border-bottom border-gray">
    <i class="mr-2 fas fa-road fa-1x"></i><%= link_to @roadmap.title, user_roadmap_steps_path %>
  </p>
  <div class="media pt-3">
    <i class="mr-2 fas fa-shoe-prints fa-2x"></i>
    <div class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
    <% if @roadmap.steps.any? %>
      <h4 class="d-block"> <%= @step.name %></h4>
      <%= @step.content %>
      <% end %>
      <div class="mt-3 timestamp text-right">
      作成日：<%= @step.created_at.to_s(:datetime) %>
      <% if logged_in? %>
      <% if current_user?(@user) || current_user.admin? %>
        <%= link_to "編集する", edit_user_roadmap_step_path(@user, @roadmap, @step.id), method: :get,
        data: { confirm: "こちらを編集しますか?" }, data: {"turbolinks" => false} %>
        <%= link_to "削除する", user_roadmap_step_path(@user, @roadmap, @step.id), method: :delete,
        data: { confirm: "本当に消しますか?" } %>
      <% end %>
      <% end %>
    </div>
    </div>
  </div>
</div>