<div class="col-md-12">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="row">
      <div class="col-md-12">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
        <% if @user.roadmaps.any? %>
          <%= render_with_hashtags_roadmap(@roadmap.hashbody) %>
        <% end %>
          <div class="media pt-3">
            <i class="mr-2 far fa-newspaper fa-2x"></i>
            <div class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <h4 class="d-block"> タイトル </h4>
                <% if @user.roadmaps.any? %>
                  <%= @roadmap.title %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="media my-3 p-3 bg-white rounded shadow-sm pt-3">
          <i class="mr-2 far fa-newspaper fa-2x"></i>
          <div class="pb-3 mb-0 lh-125 border-bottom border-gray">
            <h4 class="d-block"> 表紙 </h4>
              <div class="row mr-4">
                <% if @user.roadmaps.any? %>
                  <% if @roadmap.picture? %>
                    <%= image_tag @roadmap.picture.thumb_roadmap.url, class: "img-fluid" %>
                  <% else %>
                    <p>no picture</p>
                  <% end %>
                <% end %>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
          <div class="media pt-3">
          <i class="mr-2 fas fa-bullseye fa-2x"></i>
            <div class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <h4 class="d-block"> 目的 </h4>
                <% if @user.roadmaps.any? %>
                  <%= @roadmap.purpose %>
                <% end %>
            </div>
          </div>
        </div>
        <div class="my-3 p-3 bg-white rounded shadow-sm">
          <div class="media pt-3">
          <i class="mr-2 fas fa-signal fa-2x"></i>
            <div class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <h4 class="d-block"> 目標 </h4>
                <% if @user.roadmaps.any? %>
                  <%= @roadmap.target %>
                <% end %>
            </div>
          </div>
        </div>
        <div class="col-md-12 my-3 text-right">
        更新日：<%= @roadmap.updated_at.to_s(:datetime) %>
            <% if current_user?(@roadmap.user) %>
              <%= link_to "編集する", edit_user_roadmap_path(@user, @roadmap.id), method: :get,
              data: { confirm: "こちらを編集しますか?" }, data: {"turbolinks" => false} %>
              <%= link_to "削除する", user_roadmap_path(@user, @roadmap.id), method: :delete,
                                              data: { confirm: "本当に消しますか?" } %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>