<% @post_comments.each do |post_comment| %>
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-3">
          <%= link_to picture_for(post_comment.user), post_comment.user %>
          <%= link_to post_comment.user.name, post_comment.user%>
        </div>

          <%= post_comment.comment_content %> 

          <div class="timestamp text-right">
          作成日：<%= post_comment.created_at.to_s(:datetime) %>
          <% if current_user?(post_comment.user) || current_user.admin? %>
            <%= link_to "削除する", user_roadmap_step_post_post_comment_path(@user, @roadmap, @step, @post, post_comment.id), method: :delete,
            data: { confirm: "本当に消しますか?" } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>