<div class="col-md-12">
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded shadow-sm">
    <i class="mr-2 fas fa-road fa-2x"></i>
    <%= link_to '学習中のロードマップ', all_user_roadmaps_url(user_id: @user), class: "h1 mb-0 text-white lh-100" %>
  </div>
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="row">
      <div class="col-md-12">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
          <div class="media pt-3">
            <i class="mr-2 far fa-newspaper fa-2x"></i>
            <div class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <h4 class="d-block"> タイトル </h4>
                <% if @user.roadmaps.any? %>
                  <%= @roadmap.title %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="media my-3 p-3 bg-white rounded shadow-sm pt-3">
          <i class="mr-2 far fa-newspaper fa-2x"></i>
          <div class="pb-3 mb-0 lh-125 border-bottom border-gray">
            <h4 class="d-block"> 表紙 </h4>
              <div class="row mr-4">
                <% if @user.roadmaps.any? %>
                  <% if @roadmap.picture? %>
                    <%= image_tag @roadmap.picture.thumb_roadmap.url, class: "img-fluid" %>
                  <% else %>
                    <p>no picture</p>
                  <% end %>
                <% end %>
              </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="my-3 p-3 bg-white rounded shadow-sm">
          <div class="media pt-3">
          <i class="mr-2 fas fa-bullseye fa-2x"></i>
            <div class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <h4 class="d-block"> 目的 </h4>
                <% if @user.roadmaps.any? %>
                  <%= @roadmap.purpose %>
                <% end %>
            </div>
          </div>
        </div>
        <div class="my-3 p-3 bg-white rounded shadow-sm">
          <div class="media pt-3">
          <i class="mr-2 fas fa-signal fa-2x"></i>
            <div class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
              <h4 class="d-block"> 目標 </h4>
                <% if @user.roadmaps.any? %>
                  <%= @roadmap.target %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>