<li id="step-<%= step.id %>">
  <div class="p-3 bg-white rounded shadow-sm">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <div class="media pt-3">
        <i class="mr-2 far fa-newspaper fa-2x"></i>
        <div class="media-body pb-3 mb-0 lh-125 border-bottom border-gray">
        <% if @roadmap.steps.any? %>
          <h4 class="d-block"> <%= step.name %></h4>
          <%= step.content %>
          <% end %>
          <div class="roadmap__btn--create d-grid gap-2 d-md-flex justify-content-md-end" >
            <%= link_to "このステップの独学をする", user_roadmap_step_posts_path(@user, @roadmap, step.id), class: "btn btn-sm btn-primary", data: {"turbolinks" => false} %>
          </div>
        </div>
      </div>
    </div>
    <span class="timestamp text-right">
      <%= time_ago_in_words(step.created_at) %> ago.
      <% if current_user?(@user) %>
        <%= link_to "編集する", edit_user_roadmap_step_path(@user, @roadmap, step.id), method: :get,
        data: { confirm: "こちらを編集しますか?" }, data: {"turbolinks" => false} %>
        <%= link_to "削除する", user_roadmap_step_path(@user, @roadmap, step.id), method: :delete,
        data: { confirm: "本当に消しますか?" } %>
      <% end %>
    </span>
  </div>
</li>