<li id="post-<%= post.id %>">
  <div class="p-3 bg-white rounded shadow-sm">
    <div class="my-3 p-3 bg-white rounded shadow-sm panel-group" id="accordion">
      <%= link_to picture_for(@roadmap.user), @roadmap.user %>
      <%= link_to @roadmap.user.name, @roadmap.user%>
      <p class="mt-3 border-bottom border-gray">
        <i class="mr-2 fas fa-road fa-1x"></i><%= link_to @roadmap.title, user_roadmap_steps_path %> > <i class="mr-2 fas fa-shoe-prints fa-1x"></i><%= link_to @step.name, all_user_roadmap_step_posts_path %>
      </p>
      <div class="media pt-3 panel panel-default">
        <i class="mr-2 fas fa-pen-alt fa-2x"></i>
        <div class="media-body pb-3 mb-0 lh-125 border-bottom border-gray panel-heading">
          <% if @step.posts.any? %>
            <p class="mb-1 border-bottom border-gray"><i class="mr-2 fas fa-filter fa-1x"></i><%= categorise(post) %></p>

            <p class="mb-1 text-break border-bottom border-gray"><i class="mr-2 fas fa-hashtag fa-1x"></i><%= render_with_hashtags_post(post.hashbody) %></p>

  
              <h4 class="d-block panel-title text-break">
                <div class="my-3 p-3 bg-white rounded shadow-sm">
                  <div class="row ">
                    <div class="col-md-3">
                      <% if post.picture? %>
                          <%= image_tag post.picture.thumb_post.url, class: "img-fluid" %>
                        <% else %>
                          <%= image_tag "icon-ogp-1200×630.png", alt: "post_cover", class: "img-fluid" %>
                      <% end %>
                    </div>
                    <div class="col-md-9">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= post.id %>">
                        <%= post.title %>
                      </a>
                    </div>
                  </div>
                </div>
              </h4>

              <div id="collapse-<%= post.id %>" class="panel-collapse collapse in text-break">

                <div class="mb-1 panel-body">
                  <i class="mb-2 fas fa-external-link-alt fa-1x"></i>

                  <div class="row col-md-12 text-muted mb-3 p-3 bg-light rounded shadow-sm">
                    <div class="col-md-3">
                      <%= image_tag post.url_image, class: "img-fluid" if post.url_image.present? %>
                    </div>
                    <div class="col-md-9">
                      <p><%= post.url_title if post.url_title.present? %></p>
                      <p><%= post.url_description.truncate(140)  if post.url_title.present? %></p>
                      <p><%= link_to post.url, post.url %></p>
                    </div>
                  </div>
                </div>

                
                  <div class="mt-3 border-top border-gray panel-body">
                  <i class="m-3 fas fa-comment fa-2x"></i>
                    <%= strip_tags(post.content.to_s).gsub(/[\n]/,"").strip.truncate(140) %>
                  </div>
                </div>
          <% end %>
        </div>
      </div>
    </div>
    
      <div class="roadmap__btn--create d-grid gap-2 d-md-flex justify-content-md-end" >
        <%= link_to "詳細・コメントを見る", user_roadmap_step_post_path(@user, @roadmap, @step, post.id), class: "btn btn-sm btn-primary", data: {"turbolinks" => false} %>
      </div>

    <span class="timestamp text-right">
      作成日：<%= post.created_at.to_s(:datetime) %>
      <% if current_user?(@user) %>
        <%= link_to "編集する", edit_user_roadmap_step_post_path(@user, @roadmap, @step, post.id), method: :get,
        data: { confirm: "こちらを編集しますか?" }, data: {"turbolinks" => false} %>
        <%= link_to "削除する", user_roadmap_step_post_path(@user, @roadmap, @step, post.id), method: :delete,
        data: { confirm: "本当に消しますか?" } %>
      <% end %>
    </span>
  </div>
</li>