<li id="post-<%= post.id %>">
  <div class="p-3 bg-white rounded shadow-sm">
    <div class="my-3 p-3 bg-white rounded shadow-sm panel-group" id="accordion"">
      <%= link_to picture_for(@roadmap.user), @roadmap.user %>
      <%= link_to @roadmap.user.name, @roadmap.user%>
      <p class="border-bottom border-gray">
        ロードマップ：<%= link_to @roadmap.title, user_roadmap_steps_path %> > ステップ：<%= link_to @step.name, user_roadmap_step_posts_path %>
      </p>
      <div class="media pt-3 panel panel-default">
        <i class="mr-2 far fa-newspaper fa-2x"></i>
        <div class="media-body pb-3 mb-0 lh-125 border-bottom border-gray panel-heading">
        <% if @step.posts.any? %>
          <h4 class="d-block panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= post.id %>">
              <%= post.title %>
            </a>
          </h4>
            <p class="mb-1 text-break border-bottom border-gray">参考URL：<%= post.url %></p>
            <p class="mb-1 border-bottom border-gray">独学カテゴリー；<%= categorise(post) %></p>
          <div id="collapse-<%= post.id %>" class="panel-collapse collapse in">
            <div class="panel-body">
              <%= post.content %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <span class="timestamp text-right">
      <%= time_ago_in_words(post.created_at) %> ago.
      <% if current_user?(@user) %>
        <%= link_to "編集する", edit_user_roadmap_step_post_path(@user, @roadmap, @step, post.id), method: :get,
        data: { confirm: "こちらを編集しますか?" }, data: {"turbolinks" => false} %>
        <%= link_to "削除する", user_roadmap_step_post_path(@user, @roadmap, @step, post.id), method: :delete,
        data: { confirm: "本当に消しますか?" } %>
      <% end %>
    </span>
  </div>
</li>