<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Growthmapを学ぶ",   about_path %></li>
      <li><%= link_to "お問い合わせ", new_contact_path %></li>
      <li><%= link_to "利用規約", term_of_use_path %></li>
      <li><%= link_to "プライバシーポリシー", privacy_policy_path %></li>
      <li><%= link_to "特定商取引法に基づく表示", specified_commercial_transaction_act_path %></li>
      <li><a href="https://twitter.com/Growthmap_ss">Twitter</a></li>
    </ul>
  </nav>
</footer>