<% @user = current_user %>
<div class="listings">
  <div class="listings_channels">
    <section style="text-align:center", class="user_info">
      <%= picture_for @user%>
      <%= link_to @user.name, current_user %>
    </section>
      <section class="stats">
      <%= render 'shared/stats' %>
    </section>
      <ul class="channel_list">
        <%= sidebar_link_item('ホーム', root_path) %>
        <%= sidebar_link_item('おすすめ', roadmaps_path) %>
        <%= sidebar_link_item('マイロードマップ', all_user_roadmaps_url(user_id: current_user)) %>
        <%= sidebar_link_item('コミュニティ', users_path) %>
      </ul>
  </div>
</div>