<% @user = current_user %>
<div class="listings">
  <div class="listings_channels">
    <section style="text-align:center", class="user_info">
      <%= picture_for @user%>
      <%= link_to @user.name, current_user %>
    </section>
      <section class="stats">
      <%= render 'shared/stats' %>
    </section>
      <ul class="channel_list">
        <%= sidebar_link_item('Home', root_path) %>
        <%= sidebar_link_item('Recommendation', roadmaps_path) %>
        <%= sidebar_link_item('My Roadmaps', user_roadmap_path(id: current_user, user_id: current_user)) %>
        <%= sidebar_link_item('Community', users_path) %>
      </ul>
  </div>
</div>