<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= render 'layouts/rails_default' %>
    
    <title><%= full_title(yield(:title)) %></title>
    <%= display_meta_tags(default_meta_tags) %>

    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>

    <%= render 'layouts/shim' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>
  <body style="background-color: #0C0C0C;">
    <%= render 'layouts/header' %>
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <% if logged_in? %>
        <div class="row">
          <div class="col-2 sidebar-fix">
            <%= render'layouts/sidebar' %>
          </div>
          <div class="col-12 body-fix">
            <%= yield %>
            <%= render 'layouts/footer' %>
            <%= debug(params) if Rails.env.development? %>
          </div>
      <% else %>
      <div>
        <%= yield %>
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
      </div>
      <% end %>
  </body>
</html>
